
body{
	background-color: #f0f1f3;
}

#container{
	width:480px;
}
#header {
	width:480px;
	left:180px;
}
#phone {
	width:480px;
	top:100px;
	left:50px;
}
#form {
	width:300px;
	top:100px;
	left:185px;
}
#footer {
	top:10px;
	font: normal 100% Arial, sans-serif;font-size: 12px;
	padding:0px 0px 30px 0px;
}
#footer2{
	float:left;
	top:960px;
	width:100%;
}