/*//////////////////////////////////////////////////////////////////////////////////////////////////////////   Calendar */





    .CalendarWidget			   /* Calendar Position */

{

		text-align:center;margin-center:100px;margin-top:0px;

		position: absolute; top: 345px; right: 20px; down: 0px; left: 0px;		

	/*	background: url(../Backgrounds/DefaultSB.png) no-repeat; */



}



    .main {				     /* Width, Height & Background Colour */

	border-collapse:collapse;

	text-align:left;

	color: #ffffff;

	text-shadow: #000000 0px 1px 0px;

//		width:200px;

//		height: 100px;

		font-family:Helvetica;

		font-size:75px;

		font-weight: bold;

//		border:1px solid #98bf21;

		padding:2px 2px 2px 2px;

	background-color:transparent;

	}

	#main td {

//		text-align:center;

		font-size:20px;

		border:1px solid #98bf21;

		padding:2px 2px 2px 2px;

	}

	#main tr {

		font-size:20px;

//		text-align:left;

//		padding-top:5px;

//		padding-bottom:4px;

//		background-color:#A7C942;

//		color:#ffffff;

	}

    .month {				       /* Month label */

	position: relative; top: 6px;

		color: Transparent;

//		text-shadow: 0px 1px 0px;

		font-size: 20px;

		font-weight: bold;

		font-family:Helvetica;

		opacity:0.2;

//		padding: 2px 0px 2px 0px;

		z-index: -2;

		text-transform: uppercase;

}

    .year {				      /* Year label */

	position: relative; top: 466px;

		color: Transparent;

		text-shadow: #000000 0px 1px 0px;

		font-size: 20px;

		font-weight: bold;

		font-family:Helvetica;

		opacity:0.2;

	padding: 2px 0px 2px 0px;

		z-index: -2;

		text-transform: uppercase;

}

    #daysofweek {			       /* Days Of the Week label */

//	background-color:Black;

	color: #d1d1d1;

	text-shadow: #000000 0px 1px 0px;

	font-size: 13px;

//	font-weight: bold;

	font-family:Helvetica;

		opacity:0.8;

	padding: 0px 3px 0px 3px;

}



    #days {				       /* Days labels */

//	position: relative; top: 150px; left: 0px; down: 0px; right: 0px;

	color: #d1d1d1;

	text-shadow: #000000 0px 1px 0px;

	font-size: 15px;

	font-weight: bold;

	font-family:Helvetica;

		opacity:1;

	padding: 0px 3px 0px 3px;

}



    #today{				 /* Current Date label */

	background-color: transparent;

	color: white; 

	text-shadow: 0px 0px 8px white; 

	/*text-shadow: #FFFFFF 0px 1px 0px;*/

	font-family:Helvetica;

	font-size: 15px;

	font-weight: bold;

	opacity:1.5;

}

	#trans2{

	-webkit-transform: translate(30px,10px);/*Translated to the left and down slightly*/

	}

/* unused-------------

    #btnPrec			     /* Calendar Previous Month  Button Image /

{

	    background: url(../Backgrounds/btnPrev.png) no-repeat;

	    border: 0;

}

    #btnSuiv			     /* Calendar Next Month Button Image /

{

	    background: url(../Backgrounds/btnSuiv.png) no-repeat;

	    border: 0;

}

    #Open			  /* Calendar Open Button Image /

{

	    position: absolute; top: 115px; right: 0px; down: 0px; left: 0px; width: 160px; height: 40px;

	    background: url(../Backgrounds/Open.png) no-repeat;

}

    #Close			   /* Calendar Close Button Image /

{

	    position: absolute; top: -55px; right: 0px; down: 0px; left: 100px; width: 160px; height: 40px;

	    background: url(../Backgrounds/Close.png) no-repeat;

------------------------------------------------------------------------------------------------------------*/